    /* General reset */
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      }
  
      /* Basic styling */
      body {
        font-family: 'Poppins', sans-serif;
        line-height: 1.6;
        color: #333;
        background-color: #ffffff;
        padding: 20px;
      }
  
      .container {
        max-width: 800px;
        margin: auto;
      }

      .external-icon {
        width: 1.1em;       
        height: 1.1em;   
        margin-left: 0.25em; 
        /* vertical-align: middle; */
        position: relative; 
        top: 0.2em; 
      }
  

/* Heading(Header) styling */
/* ===================== */

      header {
        text-align: center;
        padding: 30px 0 30px 0;
      }
  
      header h1 {
        font-size: 2.2rem;
        font-weight: 600;
      }
  
      header p {
        font-size: 1rem;
        font-weight: 200;
        padding-bottom: 20px;
      }
  
      
      .social-links {
        margin-top: 10px;
        display: flex;
        justify-content: center;
        gap: 15px;
      }
  
      .social-links a {
        text-decoration: none;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 2px solid #333;
        background-color: #ffffff;
        color: #fff;
        transition: background-color 0.3s, border-color 0.3s;
      }
  
      .social-links a:hover {
        background-color: #ffffff;
        color: #fff;
        border-color: #ffffff;
      }
  
      
      .social-links a .icon {
        font-size: 20px;
        color: inherit;
      }


/* Centered layout for heading, subtitle, and social links */
/* header {
  display: flex;
  justify-content: center; 
  padding: 50px 0;
}

.header-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}

.photo img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
  border: 3px solid #333;
}

body.dark-theme .photo img {
  border: 3px solid #ddd;
}

.info h1 {
  font-size: 2.2rem;
  font-weight: 600;
  margin: 0;
  text-align: center;
}

.info p {
  font-size: 1rem;
  margin: 0 0 20px; 
  text-align: center;
}

.social-links {
  display: flex;
  gap: 15px;
  justify-content: center;
}

.social-links a {
  text-decoration: none;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #333;
  background-color: #ffffff;
  transition: background-color 0.3s, border-color 0.3s;
}

.social-links a:hover {
  background-color: #ffffff;
  color: #fff;
  border-color: #ffffff;
}

.social-links a .icon {
  font-size: 20px;
  color: inherit;
} */


/* Responsive Layout - Ensure Consistent Center Alignment */
@media (max-width: 768px) {

  /* .header-content {
    flex-direction: column; 
    text-align: center;
  } */

  header {
    padding: 50px 0; /* Adjust padding for smaller screens */
  }

  /* .photo img {
    width: 180px;
    height: 180px;
  } */

  /* .info h1 {
    font-size: 1.8rem; 
  }

  .info p {
    font-size: 0.9rem; 
  } */

  .header h1 {
    font-size: 1.8rem; /* Slightly smaller heading */
  }

  .header p {
    font-size: 0.9rem; /* Adjust font size for subtitle */
  }

  .social-links a {
    width: 36px; /* Smaller icons */
    height: 36px;
  }
}


/* ===================== */


/* ===================== */
/* Section titles */

      h2 {
        font-size: 1.5rem;
        margin-top: 40px;
        color: #333;
        border-bottom: 2px solid #ddd;
        padding-bottom: 5px;
        position: relative;
      }
  
      h2 .read-more {
        font-size: 0.8rem;
        font-weight: 400;
        color: #999; 
        text-decoration: none;
        position: absolute;
        right: 0;
        bottom: 10px;
        transition: font-weight 0.3s, color 0.3s;
      }
  
      h2 .read-more:hover {
        color: #999;
        font-weight: bolder;
      }
  
      /* Timeline styling */
      .timeline {
        margin: 20px 0 70px 0;
        border-left: 2px solid #ddd;
      }
  
      .timeline-item {
        margin: 20px 0;
        padding-left: 20px;
        position: relative;
      }
  
      .timeline-item::before {
        content: '';
        width: 10px;
        height: 10px;
        background-color: #ddd;
        border-radius: 50%;
        position: absolute;
        left: -5px;
        top: 15px;
      }
  
      .timeline-item h3 {
        font-size: 1.2rem;
        margin-bottom: 15px;
      }
  
      .timeline-item .company-logo {
        height: 40px;
        width: 40px;
        object-fit: contain;
        vertical-align: middle;
        margin-right: 10px;
      }
  
      .timeline-item p {
        font-size: 0.9rem;
        color: #333;
      }
  
      /* Nested Timeline for role progression */
      .timeline-subitem {
        margin-top: 10px;
        padding-left: 55px;
        position: relative;
      }
  
      .timeline-subitem h3{
        font-size: 1rem;
        margin-bottom: 2px;
      }
  
      .timeline-subitem p:has(em) {
        margin-bottom: 10px;
        font-weight: bold;
      }
  
      .timeline-subitem p {
        margin-bottom: 20px;
        color: #333;
      }
  
/* Projects and other sections */
      .projects, .certifications, .education, .work-projects, .skills, .aboutme {
        margin: 20px 0 70px 0;
      }
  
      .project, .certification, .education-item, .work-project {
        margin-bottom: 20px;
      }
  
      .project h3, .education-item h3, .work-project h3, .aboutme h3 {
        font-size: 1.1rem;
        margin-bottom: 5px;
      }
  
      .certification h3{
        font-size: 1rem;
        margin-bottom: 1px;
      }
  
      .certification h3 a {
        text-decoration: none;
        color: inherit;
      }
  
      .certification h3 a:hover {
        text-decoration: underline;
      }
  
      .project h3 a {
        text-decoration: none;
        color: inherit;
      }
  
      .project h3 a:hover {
        text-decoration: underline;
      }
  
  
      .project p, .certification p, .education-item p, .work-project p, .aboutme p {
        font-size: 0.9rem;
        color: #333;
      }
  
/* Footer */
      footer {
        text-align: center;
        margin-top: 40px;
        font-size: 0.8rem;
        color: #999;
        border-top: 2px solid #ddd;
        padding-top: 5px;
      }


/* Search Modal */
.search-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  display: none;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(8px);
  z-index: 1000;
}

.search-container {
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  width: 90%;
  max-width: 600px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  position: relative;
}

.search-container input {
  width: 100%;
  padding: 12px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 16px;
  margin-bottom: 10px;
}

.search-container ul {
  list-style: none;
  padding: 0;
  margin: 0;
  max-height: 300px;
  overflow-y: auto;
}

.search-container ul li {
  padding: 8px 12px;
  cursor: pointer;
  border-bottom: 1px solid #eee;
}

.search-container ul li:last-child {
  border-bottom: none;
}

.search-container ul li:hover {
  background: #f0f0f0;
}

.search-container ul li strong {
  display: block;
  margin-bottom: 4px;
  color: #333;
}

.search-container ul li em {
  font-style: normal;
  color: #555;
}

.search-container ul li .highlight {
  background-color: yellow;
}

/* Highlight target section after navigation */
.highlighted-section {
  background-color: #f0f0f0;
  transition: background-color 0.5s ease;
}

body.dark-theme .highlighted-section {
  background-color: #33333380;
}

/* Dark Theme Adjustments */
body.dark-theme .search-container {
  background: #333;
  color: #fff;
}

body.dark-theme .search-container input {
  background: #444;
  color: #fff;
  border: 1px solid #555;
}

body.dark-theme .search-container ul li {
  border-bottom: 1px solid #555;
}

body.dark-theme .search-container ul li strong {
  color: #fff;
}

body.dark-theme .search-container ul li em {
  color: #ddd;
}

body.dark-theme .search-container ul li .highlight {
  background-color: yellow;
  color: #333;
}

body.dark-theme .search-container ul li:hover {
  background: #121212;
}

/* Adjust the scroll position to account for the fixed header */
.searchable-section {
  scroll-margin-top: 80px; /* Adjust this value to the height of your fixed header */
}

/* ===================== */


/* ============DARK THEME SECTION=========== */
/* ========================================== */

      body.dark-theme {
        background-color: #121212;
        color: #e0e0e0;
      }

      body.dark-theme p strong{
        color: #d0d0d0; 
      }
  
      body.dark-theme p {
        color: #a0a0a0; 
      }
  
      /* Dark theme - Section headers */
      body.dark-theme h2 {
        color: #e0e0e0; 
        border-bottom: 2px solid #666; 
      }
  
      /* Dark theme - Timeline line */
      body.dark-theme .timeline {
        border-left: 2px solid #666; 
      }
  
      body.dark-theme .timeline-item::before {
        background-color: #666; 
      }
  
      /* Dark theme - Footer border */
      body.dark-theme footer {
        border-top: 2px solid #666; 
      }

/* ========================================== */
/* =======END OF DARK THEME SECTION======= */


/* TO REMOVE THE BLUE BG EFFECT ON PHONES */
/* ===================================== */
/* Remove focus and active outline or background effect */
button, a, div, svg {
  -webkit-tap-highlight-color: transparent; /* Removes highlight color on touch */
}

button:focus, a:focus, div:focus, svg:focus {
  outline: none; /* Removes outline for focus */
}

button:active, a:active, div:active, svg:active {
  background-color: transparent; /* Ensures no background color on active */
  outline: none; /* Removes outline for active state */
}
/* ===================================== */


.skills-section h3 {
  font-size: 1rem;
  margin-top: 12px;
}

.button {
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  padding: 2px 8px;
  border-radius: 15px;
  background-color: #f2f2f2;
  color: #000000;
  font-size: 13px;
  font-weight: 500;
  /* transition: background-color 0.3s, transform 0.2s; */
  /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
  margin-top: 5px;
}

body.dark-theme .button {
  background-color: #222222;
  color: #f2f2f2
}